@font-face {
    font-family: 'karla';
    src: url('fonts/Karla/static/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather'; 
    src: url('fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CAMERA';
    src: url('fonts/Better\ VCR\ 9.0.1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


