@font-face {
    font-family: 'karla';
    src: url('fonts/Karla/static/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather'; 
    src: url('fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




body {
    font-family: 'merriweather', sans-serif;
    margin: 0;
    overflow: hidden;
}

canvas {position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;}

div#cont1_col1 {
    margin-top: 35%;
    margin-left: 6.5%;
}

h1 {
    font-family: 'karla', sans-serif;
}

div#cont1_col2 {
    border-right: 10%;
    margin-top: 7%;
}

h5 {
    font-family: 'karla', sans-serif;
}
p {
    font-family: 'merriweather', sans-serif;
    font-size: 84%;
}

a {
    font-family: 'karla', sans-serif;
    margin-inline: 6em;
    margin-top: 2em;
}
